.gallery-padding{
    padding-bottom: 50px;
    padding-top: 50px;
}

.zoom:hover{
    -webkit-box-shadow: -8px 10px 33px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 33px 14px rgba(0,0,0,0.75);
    box-shadow: -8px 10px 33px 14px rgba(0,0,0,0.75);
}