/* .form-background{

    ackground:gre;
    opacity: 0.5;
    color: black;
} */

.support-button{
    background: #a4c639;
    color:white;
    
    
    padding:3px;
    padding-right: 10px;
    padding-left: 10px;

    
}

.support-button:hover{
    border-color: #ff4d4d;
    color:white;
    background:#ff4d4d;

}

.submit-button{
    background: #a4c639;
    color:white;
    border:0px;
    border-radius: 10px;
    border-color:#a4c639;
    text-align: start;
    
    padding:3px;
    padding-right: 30px;
    padding-left: 30px;
}

.submit-button:hover{

    border-color: #ff4d4d;
    color:white;
    background:#ff4d4d;

}

.v-button{

    background: #a4c639;
    color:white;
    border:0px;
    border-radius: 10px;
    border-color:#a4c639;
    text-align: end;
    
    padding:3px;
    padding-right: 30px;
    padding-left: 30px;

}

.v-button:hover{
    border-color: #ff4d4d;
    color:white;
    background:#ff4d4d;
}